@page
@model IndexModel
@inject MovieDbSample.Server.DataAccess.MoviesDbContext MoviesDb
@{
    ViewData["Title"] = "Home page";
}

<h1>Movies</h1>

<ul>
    @foreach (var movie in MoviesDb.Movies.OrderBy(m => m.Year))
    {
        <li>@movie.Title (@movie.Year)</li>
    }
</ul>
